<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Fynsa - Stats</title>

</head>
<body>

<div class="container">

<form method="post">
{% csrf_token %}

<input list='clientes' class="form-control" name="cliente_nuevo"></input>
<datalist id='clientes'>
<option value="cliente_1">
<option value="234">
<option value="sdfsdf">
<option value="trh">
<option value="sdf">
</datalist>



{{ formulario }}

<input type="submit" value="aceptar">

</form>
</div>
</body>