{% extends 'index.html' %}

{% block contenido %}
<div class="container">
<div class="col-lg-12">
    <div class="row">
        <div class="display-4">Quién tiene el {{ bono }}?</div>
    </div>
</div>
<div class="row">
    <p>El Monto corresponde a la suma total de los nominales por institución</p>
</div>
<table class="table" id="tabla_salida">
        <thead>
            <tr>
                <th scope="col" id="0">Origen</th>
                <th scope="col" id="1">Institucion</th>
                <th scope="col" id="2">SUMA del Monto</th>
            </tr>
        </thead>
        <tbody>
        {% for f in tenedores %}
        <tr>
            <td>{{ f.fuente_del_instrumento }} </td>
            <td>{{ f.institucion }} </td>
            <td>{{ f.monto_total }} </td>
        </tr>
        {% endfor %}
        </tbody>
</table>

</div>

    <script>
        // var t = document.getElementById("tabla_salida");
        // var f = t.rows;
        var origen = document.getElementById("0");
        var institucion = document.getElementById("1");
        var monto = document.getElementById("2");
        

        function OrdenarTablas(){
            var n = event.target.id;
            var tabla = document.getElementById("tabla_salida");
            var fila = tabla.rows;
            if(n=='2'){
                var x = fila[1].getElementsByTagName("td")[n];
                var y = fila[1 + 1].getElementsByTagName("td")[n];
                var x_num = Number.isInteger(x.innerHTML)
                console.log(x.innerHTML)
                console.log(y.innerHTML)
                console.log(x_num)

            } else {
            for(i = 1;i < fila.length - 1; i++ ){
                
                var x = fila[i].getElementsByTagName("td")[n];
                var y = fila[i + 1].getElementsByTagName("td")[n];
                
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()){
                    fila[i].parentNode.insertBefore(fila[i + 1],fila[i]);
                    }
              }
            };

        }; 
        origen.addEventListener("click",OrdenarTablas);
        institucion.addEventListener("click",OrdenarTablas);
        monto.addEventListener("click",OrdenarTablas);

    </script>
{% endblock contenido%}