{% extends "index.html" %}

{% block contenido %}
<div class="container">
    <div class="row">
    <h1>Cargador</h1>
    {% if mensaje %}
        {% for m in mensaje%}
            {{m}}
        {% endfor %}
    {% endif %}
    </div>
        <div class="row">
        
                <form action="{% url 'llegada_rfl_1' %}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                    
                    {% csrf_token %}
                    {{ lva_1 }}
                    
                    </div>
                    <button type="submit" class="btn btn-primary">cargar</button>
                </form>
        </div>
        <div class="row mt-3">
            <div class="alert alert-info">
                <form action="#" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                    
                    {% csrf_token %}
                    {{ formulario_posiciones }}
                    
                    </div>
                    <button type="submit" class="btn btn-primary">cargar</button>
                </form>
            </div>
        </div>
       
</div>

{% endblock %}