{% extends "index.html" %}

{% block contenido %}
<div class="contenedor_bases">
    <div class="row">
        <div class="titulo_principal">Generaciones entre {{ fecha_inicial }} y {{ fecha_final }}.  </div>
    </div>
    <div class="row">
        <div id="div_1"></div>
    </div>
    <div class="row">
        <div id="div_2"></div>
    </div>
    <div class="row">
        <div id="div_3"></div>
    </div>
    <div class="row">
        <div id="div_4"></div>
    </div>
</div>

<script type="text/javascript">
google.charts.load('current', {packages: ['corechart','bar','Table'], 'languaje':'es-cl'});
google.charts.setOnLoadCallback(generaciones_por_trader);

function generaciones_por_trader(){
    var bases_provisiones = new google.visualization.DataTable();
    bases_provisiones.addColumn('string','cliente');
    bases_provisiones.addColumn('number','monto');
    bases_provisiones.addRows([{% for i in bases_prov %}['{{ i.cliente_trader| safe }}',{{ i.provision | safe }}],{% endfor %}])
    
    var bases_tasa = new google.visualization.DataTable();
    bases_tasa.addColumn('string','cliente');
    bases_tasa.addColumn('number','monto');
    bases_tasa.addRows([{% for i in base_tasa %}['{{ i.cliente_trader| safe }}',{{ i.util_tasa| safe }}],{% endfor %}]);
    
    var depo_provisiones = new google.visualization.DataTable();
    depo_provisiones.addColumn('string','cliente');
    depo_provisiones.addColumn('number','monto');
    depo_provisiones.addRows([{% for i in depo_provisiones %}['{{ i.cliente_trader| safe }}',{{ i.provision | safe }}],{% endfor %}]);
    
    var depo_tasa = new google.visualization.DataTable();
    depo_tasa.addColumn('string','cliente');
    depo_tasa.addColumn('number','monto');
    depo_tasa.addRows([{% for i in depo_tasa %}['{{ i.cliente_trader| safe }}',{{ i.util_tasa| safe }}],{% endfor %}]);

    var chart = new google.visualization.BarChart(document.getElementById('div_1'));
    var chart = new google.visualization.BarChart(document.getElementById('div_2'));
    var chart = new google.visualization.BarChart(document.getElementById('div_3'));
    var chart = new google.visualization.BarChart(document.getElementById('div_4'));
    var options = {
                                            
                                            titleTextStyle:{
                                                fontSize: 20,
                                            },
                                            width: '650',
                                            height:'100%',
                                            chartArea: {
                                                width: '50%',
                                                height:'100%',
                                                left : '33%',
                                                },
                                            hAxis: {
                                            title: 'Monto',
                                            minValue: 0,
                                            
                                            },
                                            legend: { position: "none" },
                                            bar : {groupWidth:'20'},
                                            fontSize : '17',
                                            annotations : {
                                                  textStyle:{
                                                  fontSize:17,
                                                  color:'black'
                                                  },
                                                }, 
    };


    chart.draw(bases_provisiones,options);
    chart.draw(depo_provisiones,options);
    chart.draw(depo_provisiones,options);
    chart.draw(depo_tasa,options);  
           

}


</script>

{% endblock %}