cintas/
settings.py
fynsa_src/fynsa/templates/prue*.html
pruebas*.html
fynsa/__pycache__/
__pycache__
fynsa_src/fynsa/BASES/__pycache__/
fynsa_src/fynsa/RFI/__pycache__/
fynsa_src/fynsa/RFL/__pycache__/
*.pyc