{% include 'index.html' %}

{% block contenido %}

<div class="container">
    <div class="display-4">Resultado de los Fondos que hacen match.</div>
    <hr>
    <div class="lead d-flex flex-row-reverse small">{{iteraciones}} iteraciones en {{ tiempo }} s.</div>
    <div class="row">
    <ul>
   <li>paises : {{ paises }}</li> 
   <li>sector : {{ sector }}</li> 
   <li>rating : {{ rating }}</li> 
   <li>duracion : {{ duracion }}</li> 
   <li>ytm : {{ ytm }}</li> 
   <li>payment_rank : {{ payment_rank }}</li> 
   </ul>
    </div>

    {% if not resultado %}
    <div class="lead mb-2">No Hay Fondos que se ajustan a tu búsqueda</div>

    {% else %}
    
    <div class="lead mb-2">Hay {{conteo_bonos}} fondos que se ajustan a tu búsqueda:</div>
    
            <ol>
            {% for res in resultado %}
            {% for r in res %}
            <li>{{ r.security_name }} - {{ r.isin }}
            {% endfor %}
    
    {% endfor %}
        </ol>
    {% endif %}

</div>



{% endblock contenido %}





