{% include 'index.html' %}

{% block contenido %}
<div class="container-fluid">
        <div class="h2">EDITOR BONOS</div>
        <p>Si el bono no aparece, hay que agregarlo en el botón "agregar bono"</p>
    <div class="row d-flex justify-content-center">

        <form method="POST" action="{% url 'editor_bonos' %}" class="form-inline">{% csrf_token %}
            <label for="{{ formulario.isin_security_name.id_for_label }}" class="mx-1">Isin:</label>
            <input type="text" list="isin" id="id_isin" name ="isin_security_name" class = "form-control" value="{{ formulario.isin_security_name.value | default_if_none:'' }}">
            {{ formulario.isin_security_name.errors }}
                <datalist id="isin">
                {% for r,s in formulario.isin_security_name.field.choices %}
                    <option value="{{ r }}">
                {% endfor %}
                </datalist>


        
        <input type="submit" class="btn btn-primary mx-1" name="botón" value="Editor">
        <input type="submit" class="btn btn-warning mx-1" name="botón" value="Agregar Bono">
     </div>   {% comment %} div del row {% endcomment %}
    </form>
 </div>  {% comment %}  div del fuid {% endcomment %}
        
{% endblock %}